Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

#Ignore FMOD plugin since I can just install it locally. No need to clutter the git-repo with it.
#Plugins/FMODStudio